<% if (user) { %>
<div class="like-container">
  <button
    type="button"
    class="btn-like <%= comment.likes.includes(user.id) ? 'liked' : '' %>"
    data-comment-id="<%= comment._id %>"
  >
    ❤️ Suka
  </button>
  <span id="likes-count-<%= comment._id %>"
    ><%= comment.likes.length %> Suka</span
  >
</div>
<button class="btn-reply" data-comment-id="<%= comment._id %>">Balas</button>
<% } else { %>
<div class="like-container">
  <span>❤️ <%= comment.likes.length %> Suka</span>
</div>
<% } %>
